html, body 

{
    background-color: hsl(30, 38%, 92%);
    width: 1440px;
    height: 100%;

}
.centering_product 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.titre 
{
    font-family: 'Fraunces', serif;
    font-size: 40px;
}
.description_product 
{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    padding-right: 20%;
    font-size: 17px;

}
.right_part 
{
    margin-left: 30px;
    width: 400px;
    height: auto;
    justify-content: center;
    align-items: center;
}
.card 
{
    background-color: white;
    width: 800px;
    display: flex;
    flex-direction: row;
    border-radius: 5%;
    
}
.header_product 
{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    margin-top: 40px;
    letter-spacing: 0.5em;
}
.image_product 
{
    width: 400px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;

}